@using Isen.DotNet.Library.Models.Implementation;
@{
    ViewData["Title"] = "PointsInterets";
}
@model IEnumerable<PointOfInterest>

<div class="row">
    <div class="col-md-12">
        <h1>Points d'interêts <small>/PointOfInterest/index</small></h1>
    </div>
</div>
<div class="row">
    <a class="btn btn-default" 
        asp-controller="City" asp-action="Detail">Ajouter un point d'interêt...</a>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Catégorie</th>
                <th>Adresse</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var point in Model)
            {
            <tr>
                <td>@point.Id</td>
                <td>@point.Name</td>
                <td>@point.Description</td>
                <td>@point.Categorie</td>
                <td>@point.Adresse</td>
                <td>
                    <a class="btn btn-default" asp-controller="PointOfInterest" asp-action="Detail" asp-route-id="@point.Id">Editer</a>
                    &nbsp;
                    <a class="btn btn-danger" asp-controller="PointOfInterest" asp-action="Delete" asp-route-id="@point.Id">Supprimer</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>